@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base { 
  body {
    color: #ffffff;
    background-color: rgba(2, 44, 12, 0.76);

  }
}



@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-[#c5c5c5];
  }


  .tags {
    background-color: rgb(28, 5, 156);
    margin-right:0.5rem;
    margin-top: 0.5;
    padding: 3px 10px;
    display: inline-block;
    color: #ffffff;
    font-size: 12px;

  }


  .tags:last-child{
    margin-right:0;
  }

  .tags:nth-child(2){
    background-color: rgb(9, 209, 2);
  }

  .tags:nth-child(3){
    background-color: rgb(241, 146, 4);
  }
  .tags:nth-child(4){
    background-color: rgb(3, 149, 218);
  }

}